{% extends './layout/layout.twig' %}

{% block body %}
    <script>
        var suggestion = {{ suggestion }};
    </script>
    <div id="app"></div>
    {% if ENV == "production" %}
        <link href="/spa/dist/css/app.css" rel="stylesheet">
        <script defer src="/spa/dist/js/main.js"></script>
    {% else %}
        <script defer src="http://localhost:5001/js/main.js"></script>
    {% endif %}
{% endblock %}